{% extends 'templates/main.html.twig' %}

{% block body %}
<!-- about -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>Welcome To Pizzeria Noname</h2>
                    <p class="lead">Curabitur dictum, tortor a feugiat digrem nunc facilisis lectus porta ultrices nibh leoquis nisuisque consequat lacus in interdum venenatis justo dolor semperitae rutrum nunc justo elementum justoras interdum acdui at condimentum nullaut leo fermentum placerat diam etornare lacuraesent luctusodio etdictum pharetra.</p>
                </div>
                <div class="about-img"><img src="./images/zoom_1.jpeg" alt="" class="img-responsive"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <h3>History</h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="histroy-block">
                    <h3>2017-2015</h3>
                    <p>Vestibulum vestibum nibh exed oneds cursus viverra urnavitae volutpatese risus sagittis sedonec dapibus euvelit et portus pendisse potenti hasellus sedest fermentum.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="histroy-block">
                    <h3>2014-2012</h3>
                    <p>Nulla etdolor porta molestie duinon lobortis metus phasellus necmollis on turpis eu molestie duorbi in interdum setiam ut accumsan justsed congue etiam fermentum lobortis. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="histroy-block">
                    <h3>2011-2008</h3>
                    <p>Curabitur ditortor a feugiat dignissim lorem nunc facilisis lectporta ultrices nibh leoquis uisque consequat lacus in interdum venenatis justor semper diamvitae rutrum nunc justo. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-light mt80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-list">
                        <h2 class="mb30">Pizzeria Noname Provide Best Facilities</h2>
                        <ul class="arrow arrow-right">
                            <li>Free WiFi Internet available</li>
                            <li>Free secure parking</li>
                            <li>Secure yard for bicycles</li>
                            <li>Interiors</li>
                            <li>Centrally air conditioned </li>
                            <li>Seating capacity of 164 persons at the same time</li>
                            <li>Food dishes available .</li>
                            <li>Everywhere, in the restaurant or banquet supply of pure R.O. water is available.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="about-img"><img src="./images/zoom_1.jpeg" alt="" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.about -->
{% endblock %}